@import url("https://fonts.googleapis.com/css?family=Meera Inimai");
html {
    scroll-behavior: smooth;
  }
  
body {
    background-color: #FED9B4;
    font-family: "Meera Inimai", serif;
    margin: 0px;
    padding: 0px;
  }

  .home{
    width: 100%;
    height: 100v;
  }
  .navbar{
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
  }
  .btn-mas{
    width: hug;
    height: 45px;
    background-color: transparent;
    color: black;
    font-size: 20px;
    border-radius: 50px;
    border-color: black;
    padding: auto;
    margin: 15px;
  }
  .btn-register{
    width: hug;
    height: 45px;
    background-color: #EF8E2D;
    color: white;
    font-size: 20px;
    border-radius: 50px;
    border: none;
    padding: auto;
    margin: 15px;
  }
  .btn-ingre{
    width: hug;
    height: 45px;
    background-color: #EF8E2D;
    color: white;
    font-size: 20px;
    border-radius: 50px;
    border: none;
    padding: auto;
    margin: 15px;
  }

  .content{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
  }

  .btn-empezar1{
    width: hug;
    height: hug;
    background-color: #EF8E2D;
    color: white;
    border-radius: 50px;
    border: none;
    font-size: 20px;
    padding: auto;
    gap: 10px;
  }

  .btn-empezar2{
    width: hug;
    height: hug;
    background-color: #EF8E2D;
    color: white;
    border-radius: 50px;
    border: none;
    font-size: 20px;
    padding: auto;
    gap: 10px;
  }