@import url("https://fonts.googleapis.com/css?family=Meera Inimai");
html {
    scroll-behavior: smooth;
  }
  
body {
    background-color: #FED9B4;
    font-family: "Meera Inimai", serif;
    font-size: 16px;
  }
  
  